    body {
      font-family: 'Courier New', Georgia, Verdana, Tahoma, Helvetica, Arial;
      font-size: 12px;
    }
    
    a:visited {
      color: #778899;
      text-decoration: none;
    }

    a:link {
      color: #ffffff;
      text-decoration: none;
    }

    a:hover, a:active {
      color: #FF9933;
      text-decoration: none;
    }
    
    .links, .footer {
      width: 100%;
      border: 2px solid;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      background: #1C1C1C;
      color: #ffffff;
      text-decoration: none;
    }

    .footer {
      font-size: 9px
    }

    div.title {
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      margin: 0px;
    }
    
    div.subtitle {
      font-size: 10px;
      font-style: italic;
      font-weight: normal;
      text-align: center;
      padding: 0px;
      margin: 0px;
    }
    
    div.section-outter {
      width: 100%;
      border: 2px solid;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    div.section-title {
      margin: 5px;
      font-size: 14px;
      font-weight: bold;
      text-decoration: underline;
    }
    
    div.section-notes {
      font-size: 12px;
      margin: 10px;
    }
    
    div.code-embed {
      position: relative;
      background-color: #1C1C1C;
      border-radius: 5px;
      color: #D0D0D0;
      display: block;
      text-align: center;
      font: 11px Monaco, monospace;
      margin: 10px;
      overflow: auto;
      padding: 15px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      line-height: 125%
    }
    
    div.code-embed span {
      color: #ed9d13;
    }
    
    div.banner {
      text-align: center;
    }