/*The grey theme*/
body {
  background-color: #666;
  min-width: 320px;
  max-width: 960px;
  align-content: space-between;
  text-align: center;
  align-self: center
}
div {
  background-color: #999;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.25;
  padding: 5px;
}
#header {
  text-align: center;
}
.content {
  background-color: #aaa;
  border-radius: 1em;
  margin: 5px;
  text-align: text-justify;
}
footer.billboard {
  background-image: url("http://orig14.deviantart.net/9db6/f/2013/249/7/c/pink_flower_png_by_hanabell1-d6l7hc0.png") center;
  background-repeat: no-repeat;
  background-size: contain;
	background-position: center;
}
