# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = jspractice-1480122229
email = jspractice-1480122229
[core]
	excludesfile = ~/.gitignore_global.txt
[alias]
	up-sub = "!f() { cd $1 && git submodule update --init --recursive; }; f"
	fullupdate = "!f() { cd $1 && git up && git submodule update --init --recursive; }; f"
	gityup = "!f() { cd $1 && git checkout $2 && git up && git submodule update --init --recursive; }; f"
	co = checkout
	br = branch
	cm = commit
	st = status
	history = log --graph --pretty=oneline --abbrev-commit
	today = log --graph --oneline --since="12am"
	up = "!git remote update -p; git merge --ff-only @{u}"
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
 	credentialStore = secretservice
[push]
	default = simple
[color]
	ui = auto
	status = auto
	branch = auto
	diff = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[credential "https://dev.azure.com"]
	useHttpPath = true
